* {
    --primary-green: #495e57;
    --primary-yellow: #f4ce14;
    --secondary-orange: #ee9972;
    --secondary-beige: #fbdabb;
    --highlight-lite: #edefee;
    --highlight-dark: #333;
    --section-title: 3.5rem;
    font-family: Karla, sans-serif;
}

body {
    color: var(--primary-green);
}